.u-section-1 .u-sheet-1 {
  min-height: 350px;
}

.u-section-1 .u-line-1 {
  margin-top: 127px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-1 .u-text-1 {
  margin: 6px auto 0 11px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 73px;
}

.u-section-1 .u-container-layout-1 {
  padding: 2px 10px;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 6px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 73px;
}

.u-section-1 .u-container-layout-2 {
  padding: 2px 10px;
}

.u-section-1 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 0 auto 0 11px;
}

.u-section-1 .u-text-7 {
  margin: 6px auto 0 43px;
}

.u-section-1 .u-text-8 {
  margin: 6px auto 0 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 60px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 470px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 6px auto 0 11px;
}

.u-section-2 .u-text-2 {
  margin: 6px auto 0 11px;
}

.u-section-2 .u-table-1 {
  margin-top: 6px;
  margin-bottom: 0;
}

.u-block-cb2c-6 {
  background-image: none;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-3 {
  background-image: none;
}

.u-block-cb2c-33 {
  background-image: none;
}

.u-section-2 .u-text-3 {
  margin: 12px auto 0 11px;
}

.u-section-2 .u-table-2 {
  margin-top: 6px;
  margin-bottom: 0;
}

.u-block-cb2c-40 {
  background-image: none;
}

.u-section-2 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-7 {
  background-image: none;
}

.u-block-cb2c-51 {
  background-image: none;
}

.u-section-2 .u-text-4 {
  margin: 12px auto 0 11px;
}

.u-section-2 .u-table-3 {
  margin-top: 6px;
  margin-bottom: 0;
}

.u-block-cb2c-56 {
  background-image: none;
}

.u-section-2 .u-table-header-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-11 {
  background-image: none;
}

.u-block-cb2c-67 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    height: 3px;
    margin-top: 131px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -119px;
  }

  .u-section-2 .u-table-1 {
    margin-top: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    margin-top: 6px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 399px;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  margin: 6px auto 0 11px;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 2px auto 0 11px;
}

.u-section-3 .u-table-1 {
  margin-top: 6px;
  margin-bottom: 0;
}

.u-block-14c2-6 {
  background-image: none;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-6 {
  background-image: none;
}

.u-section-3 .u-table-cell-7 {
  background-image: none;
}

.u-block-14c2-17 {
  background-image: none;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 208px;
}

.u-section-3 .u-container-layout-1 {
  padding: 15px 10px 10px;
}

.u-section-3 .u-icon-1 {
  width: 25px;
  height: 25px;
  margin: 5px auto 0 8px;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: -24px auto 0 43px;
}

.u-section-3 .u-text-4 {
  margin: 6px auto 0 22px;
}

.u-section-3 .u-text-5 {
  margin: 6px auto 0 22px;
}

.u-section-3 .u-text-6 {
  margin: 6px auto 0 54px;
}

.u-section-3 .u-text-7 {
  margin: 6px auto 0 22px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 208px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-icon-2 {
  width: 25px;
  height: 25px;
  margin: 4px auto 0 8px;
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: -24px auto 0 43px;
}

.u-section-3 .u-text-9 {
  margin: 6px auto 0 22px;
}

.u-section-3 .u-text-10 {
  margin: 13px auto 0 22px;
}

.u-section-3 .u-text-11 {
  margin: 6px auto 0 54px;
}

.u-section-3 .u-text-12 {
  margin: 6px auto 0 22px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 172px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 473px;
  }
}