from PySide6.QtCore import *
from PySide6.QtWidgets import *
from PySide6.QtGui import *

from cutevariant.gui.settings import AbstractSettingsWidget
from cutevariant.gui.plugin import PluginSettingsWidget

class GeneralSettings(AbstractSettingsWidget):

    def __init__(self):
        super().__init__()
        self.setWindowTitle(self.tr("General"))

        self.input = QSpinBox(self)

    def save(self):
        config = self.section_widget.create_config()
        config["param"] = self.input.value()
        config.save()

    def load(self):
        config = self.section_widget.create_config()
        self.input.setValue(config.get("param", 0))

    def reset(self):
        config = self.section_widget.create_config()
        config.reset()
        config.save()


class {{name}}SettingsWidget(PluginSettingsWidget):
    """Model class for settings plugins"""

    ENABLE = True

    def __init__(self, parent=None):
        super().__init__(parent)

        self.add_page(GeneralSettings())
