from PySide2.QtCore import *
from PySide2.QtGui import *
from PySide2.QtWidgets import *

from cutevariant.gui.plugin import PluginDialog
from cutevariant.gui import MainWindow

class {{name}}Dialog(PluginDialog):
    """Model class for all tool menu plugins

    These plugins are based on DialogBox; this means that they can be opened
    from the tools menu.
    """

    def __init__(self, parent: MainWindow=None):
        """
        Keys:
            parent (QMainWindow): cutevariant Mainwindow
        """
        super().__init__(parent)

        self.button = QPushButton("hello", self)
        self.button.clicked.connect(self.on_click)

    def on_click(self):
    	print("I'm using this sqlite connection", self.conn)

if __name__ == "__main__":
    import sys

    app = QApplication(sys.argv)
    dialog = {{name}}Dialog()
    conn = sqlite3.connect("path_to_test_database.db")
    conn.row_factory = sqlite3.Row
    dialog.conn = conn
    dialog.exec_()
